<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new  List</title>
</head> -->
<% layout("/layouts/boilerplate")%>

<body>
    <h3>Create new List</h3>
    <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

        <div>
            <label for="title" class="form-label">Title</label>
            <input  name="listing[title]" placeholder="enter title" type="text" class="form-control" required > 
            <div class="valid-feedback">
                Title looks good!!
            </div>
            <div class="invalid-feedback">
                please enter a valid price
            </div>
          
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea  name="listing[description]" class="form-control" required></textarea>
            <div class="invalid-feedback">
                please enter a valid description
            </div>
        </div>

    

        <div>
            <label for="image" class="form-label">upload listing image </label>

            <input  name="listing[image]"  type="file" class="form-control"> 
              required
        </div>

        <div>
            <label for="price" class="form-label">Price</label>
            <input  name="listing[price]" placeholder="enter price" class="form-control" required> 

            <div class="invalid-feedback">
                please enter a valid price
            </div>
        </div>
        <div>
            <label for="location" class="form-label">Location</label>
            <input  name="listing[location]" placeholder="Dehradun, Uttarakhand" type="text" class="form-control" required> 
            <div class="invalid-feedback">
                please enter a valid location
            </div>
        </div>
        <div>
            <label for="country" class="form-label">Country</label>
            <input  name="listing[country]" placeholder="e.g India" type="text" class="form-control" required> 
            <div class="invalid-feedback">
                please enter a valid country
            </div>
        </div>
    <br>
        
          <button class="btn btn-dark add-btn">add</button>
    </form>
    <br>
    <br>
</body>
<!-- </html> -->